body {
  background-image: url("https://images.unsplash.com/photo-1527467779599-34448b3fa6a7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3RhcnJ5fGVufDB8fDB8fHww");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
